@model PagedList.IPagedList<KeenanBuff.Models.MatchViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="header-content-container">
    <div class="header-content">
        <div class="header-content-primary">
            <div class="header-content-title">
                <h1>
                    Matches
                </h1>
            </div>
        </div>
    </div>
</div>


<section>
    <div class="container">
        <div id="matches" class="tab-pane fade in active">
            <header>
                Latest Matches
            </header>
            <div class="loader-container" style="display:none;">
                
                <div id="loader">
                </div>
            </div>
            <div id="matchesTable">
            </div>


        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        Reload();
    });

    function Reload() {
        $(".loader-container").css("display", "block");
        //document.getElementById("loader").style.display = "block";

        $("#matchesTable").load("/Matches/_MatchesTable", function () {
            //document.getElementById("loader").style.display = "none";
            $(".loader-container").css("display", "none");
        });
        window.history.replaceState({}, document.title, "/" + "Matches");
    }
</script>

