
html {
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}


body {
    padding-bottom: 20px;
    background: #172340;
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #dddddd;
}

/*Loader*/
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 1;
    margin: 50px 0 0 -75px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #4a6c93;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader-container {
    position: absolute;
    background: #9494947d;
    height: 74%;
    width: 100%;
    z-index: 100;
}

.tab-pane {
    position:relative;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}


div.left {
    float: left;
}

div.right {
    float: right;
}

.wrapper {
    background: #0c0c0c4d;
    overflow: hidden;
    padding: 20px;
}

.intro.left{
    width: 30%
}


.intro.left img {
    padding-right: 20px;
    width: 100%;
}

.intro.right {
    width: 70%;
}

@media screen and (max-width: 700px) {
    .intro.left, .intro.right {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

.intro.right li {
    display: block;
    padding: 5px;
}
.intro.right li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}

.DataRetrieval.left {
    width: 30%;
}

.DataRetrieval.right {
    width: 69%;
}

.DatabaseDesign.left {
    width: 69%;
}

.DatabaseDesign.right {
    width: 30%;
}

.documentation.left img {
    padding-right: 20px;
    width: 100%;
}

.documentation.right img {
    padding-left: 20px;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .documentation.left, .documentation.right {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }

        .documentation.left img, .documentation.right img {
            padding: 10px; /* The width is 100%, when the viewport is 800px or smaller */
        }

    .jumbotron {
        background-color: #eeeeeeb0;
        margin-top: 60px;
        font-size: 50px;
    }
}

.jumbotron {
    background-color: #eeeeeeb0;
    margin-top: 60px;
    font-size: 60px
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav > li > a {
    color: white;
}

.nav > li > a:hover {
    color: black;
}

.navbar-brand {
    font-size: 20px;
}

section article {
    box-shadow: 0 0 3px rgba(10,10,10,0.4);
    border: 1px solid #242F39;
    border-radius: 1px;
    background: #242F39;
    padding: 4px;
    clear: right;
}

iframe{
    width: 100%;
    height: 720px;
}



/*Table styles*/

table {
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
    .matches {
        width: 100%;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .game-mode {
        display: none;
        box-sizing: border-box;
        padding: 0 2px;
    }
    .r-none-tablet {
        display: none !important;
    }
}

table th, table td {
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.fixed {
    table-layout: fixed;
}

table.fixed .tf-25 {
    width: 25px;
}

table.fixed .tf-30 {
    width: 30px;
}

table.fixed .tf-35 {
    width: 35px;
}

table.fixed .tf-40 {
    width: 40px;
}

table.fixed .tf-75 {
    width: 75px;
}

table.fixed .tf-hero {
    width: 50px;
}

table.fixed .tf-a {
    width: auto;
}

table.fixed .tf-fa {
    width: 20px;
    text-align: center;
    padding: 4px 0;
}

table.fixed .tf-pl {
    padding-left: 4px;
}

table.fixed td, table.fixed th {
    padding: 4px 3px 4px 0;
    box-sizing: border-box;
}

table.fixed .tf-items {
    width: 245px;
}


table tbody tr:nth-child(2n) {
    background: rgba(255,255,255,0.02);
}
table tbody tr {
    background: rgba(255,255,255,0.04);
}


table tbody tr.faction-radiant {
    background: rgba(146,165,37,0.12);
    color: white;
}

table tbody tr:nth-child(2n).faction-radiant {
    background: rgba(146,165,37,0.06);
    color: white;
}

.header-content-container{
    box-shadow: 0 0 3px rgba(10,10,10,0.4);
    border-radius: 1px;
    margin: 60px 0 13px 0;
}

.header-content{
    background: #2E3740;
    position: relative;
    padding: 8px;
}

.header-content-title{
    display: inline-block;
    vertical-align: top;
}

.header-content-title small{
    display: block;
    color: #C4C4C4;
    margin-top: 3px;
    font-size: 14px;
}

.header-content-secondary{
    margin-top: 4px;
    font-size: 13px;
}

.header-content-secondary dl{
    display: inline-block;
    margin: 5px 12px 14px 0;
    vertical-align: top;
}

.header-content-secondary dl dt {
    color: rgba(255,255,255,0.6);
    font-size: 12px;
    margin-top: 4px;
    text-transform: uppercase;
}

.header-content-secondary dl dd {
    color: white;
    font-size: 14px;
}

.match-show{
    position: relative;
}

.match-item-with-time {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right: -5px;
    vertical-align: top;
}

.match-show .match-result{
    font-size: 1.5em;
    font-weight: 800 !important;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    text-transform: uppercase;
}

.match-victory-subtitle{
    text-align: center;
}

.match-victory-subtitle .the-radiant{
    text-align: right;
}

.match-victory-subtitle .the-dire{
    text-align: right;
}

.match-victory-subtitle .score{
    font-size: 1.5em;
    width: 40px;
    display: inline-block;
}

.match-victory-subtitle .duration {
    margin: 0 1em;
    position: relative;
    top: -3px;
}

.the-radiant, .player-radiant {
    color: #92A525 !important;
}

.the-dire, .player-dire {
    color: #C23C2A !important;
}

.team.radiant {
    color: #92A525;
}

.team.dire {
    color: #C23C2A;
}

.the-radiant-score{
    color: #92A525;
}
.the-dire-score{
    color: #C23C2A;
}

section header {
    font-size: 16px;
    color: white;
    position: relative;
    padding: 6px 4px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    font-weight: normal;
}

section.radiant header {
    color: #92A525;
}

section.dire header {
    color: #C23C2A;
}
.color-faction-dire {
    color: #C23C2A !important;
}

.color-faction-radiant {
    color: #92A525 !important;
}


.r-table {
    font-size: 0.9em;
    position: relative;
}
.r-row {
    clear: both;
    background-color: rgba(255,255,255,0.08);
    padding: 5px 4px;
}

.r-table .r-5 {
    width: 5%;
}

.r-table .r-8 {
    width: 8%;
}

.r-table .r-10 {
    width: 10%;
}

.r-table .r-125 {
    width: 12.5%;
}

.r-table .r-15 {
    width: 15%;
}

.r-table .r-20 {
    width: 20%;
}

.r-table .r-23 {
    width: 23%;
}

.r-table .r-25 {
    width: 25%;
}

.r-table .r-35 {
    width: 35%;
}

.r-table .r-40 {
    width: 40%;
}


.r-table .r-fluid {
    box-sizing: border-box;
    padding: 0 2px;
    display: table-cell;
}


.r-row {
    clear: both;
    background-color: rgba(255,255,255,0.08);
    padding: 5px 4px;
}
.r-row:nth-child(2n) {
    background-color: rgba(255,255,255,0.04);
}

.r-table .r-icon-text .r-body {
    line-height: 14px;
}

.r-table .r-line-graph .r-body {
    position: relative;
    top: 5px;
}

.r-table .r-body {
    vertical-align: middle;
}

.r-table .r-label {
    font-weight: bold;
}

/*Image classes*/
.r-table .r-icon-text .image-container {
    float: left;
    margin-right: 7px;
}
.r-table .image-container {
    margin-top: 4px;
}

.image-container {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    overflow: hidden;
}

.image-container-hero {
    float: right;
    height: 24px;
    width: 42px;
}

.image-container-hero img {
    width: 100%;
}

.image-container-item img {
    width: 100%;
}

.image-container-item {
    display: inline-block;
    height: 38px;
    width: 34px;
}

.image-item {
    width: 38px;
}


.r-table.heroes-overview .r-row:first-child .r-label, .r-table.performances-overview .r-row:first-child .r-label {
    display: block;
    margin-top: -25px;
    padding-bottom: 13px;
    top: 30px;
    position: absolute;
}


.subtext {
    font-weight: 200;
    font-size: 0.9em;
    color: rgba(255,255,255,0.6);
    padding-top: 2px;
    min-height: 14px;
    vertical-align: top;
}

div.subtext a {
    font-weight: 200;
    font-size: 0.9em;
    color: rgba(255,255,255,0.6) !important;
    padding-top: 2px;
    min-height: 14px;
    vertical-align: top;
}

.content-inner a {
    color: #A9CF54;
}

.col-8 {
    display: inline-block;
    margin-right: 12px;
    width: 644px;
    vertical-align: top;
}

.row-12 {
    display: block;
}

.container-inner {
    margin: auto;
    position: relative;
    max-width: 972px;
}

.lost, .negative {
    color: #C23C2A !important;
}

.won, .positive {
    color: #A9CF54 !important;
}

div.reset-button {
    float: right;

}

button.reset-button {
    background-image: url('../assets/refresh.png');
    padding: 16px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

/*Player overview*/
.most-played-heroes {
    display: inline-block;
    width: 40%
}

.kda-bars {
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 2px;
}

.win-rate-chart {
    display: inline-block;
    width: 60%;
    float: right;
    padding-left: 5px;
}

.chart-container {
    width: 100%;
}

svg {
    width: inherit;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.2;
    shape-rendering: crispEdges;
}
