@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Hello</h3>

<p>My name is Artour Babaevsky. I grow up in smal farm to have make potatos. Father say "Artour, potato harvest is bad. Need you to have play professional Doto in Amerikanski for make money for head-scarf for babushka."I bring honor to komrade and babushka. Sorry for is not have English. Please no cyka pasta coperino pasterino liquidino throwerino.</p>
