
@{
    ViewBag.Title = "Database";
}

<h2>Database</h2>
<p>Clicking the below button will add 10 games to the database</p>
<input type="button" value="Update Database" onclick="location.href='@Url.Action("UpdateDatabase", "Home")'" />


