
@{
    ViewBag.Title = "Database";
}

<h2>Database</h2>
<p>Use this page to import games into the database</p>
<div id="loader" style="display:none;" ></div>

<div style="display:none;" id="loaded" class="animate-bottom">
    <h2>Success!</h2>
    <p>Matches add, click again to add more</p>
</div>

<select id="matches" name="matches">
    <option value="0">0</option>
    <option value="10">10</option>
    <option value="50">50</option>
    <option value="100">100</option>
</select>
<button>Update Database</button>


<script>
    //call database update and show loading overlay
    $("button").click(function () {
        document.getElementById("loader").style.display = "block";
        document.getElementById("loaded").style.display = "none";
        var matches = $('#matches').find('option:selected').text();

        $.get("/Home/Database?update=true&matches=" + matches, function(){
            document.getElementById("loaded").style.display = "block";
            document.getElementById("loader").style.display = "none";
        });
    });
</script>