@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="jumbotron">
        <h1 style="color: black;">KEENAN ROYCE</h1>
    </div>
    <div class="intro wrapper">
        <div class="intro left">
            <img src="~/assets/me.jpg" />
        </div>
        <div class="intro right">

            <h2>
                Welcome to Keenan Buff
            </h2>
            <p>
                I created this place to show case my abilites with C#, Javascript and Entity Framework.
                This is a code first Entity Framework approach documenting my match history in the popular video game DotA 2
            </p>
            <h2>
                About me
            </h2>
            <ul>
                <li>Full-Stack developer experienced with RESTful APIs, SAML SSO and Business Intelligence</li>
                <li>Physics Graduate from the University of Calgary</li>
                <li>Avid rock climber and musician</li>
                <li>Not a graphic designer</li>
            </ul>
        </div>
    </div>

    </body>




