@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color: black;">KEENAN BUFF</h1>
    <p class="lead">This is an EF database of my DOTA history</p>
    <p><a href="http://www.dotabuff.com/players/90935174" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<iframe src="https://keenan-royce.github.io/B/"></iframe>

