@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="jumbotron">
        <h1 style="color: black;">KEENAN BUFF</h1>
    </div>
    <div class="intro wrapper">
        <div class="intro left">
            <img src="~/assets/me.jpg" />
        </div>
        <div class="intro right">

            <h2>
                Welcome to Keenan Buff
            </h2>
            <p>
                I created this place to show case my abilites with C#, Javascript and Entity Framework.
                This is a code first Entity Framework approach documenting my match history in the popular video game DotA 2
            </p>
            <h2>
                About me
            </h2>
            <ul>
                <li>Full-Stack developer experienced with RESTful APIs, SAML SSO and Business Intelligence</li>
                <li>Physics Graduate from the University of Calgary</li>
                <li>Avid rock climber and musician</li>
                <li>Not a graphic designer</li>
            </ul>
        </div>
    </div>

    <div class="intro wrapper">
        <!--<p>This site is based off a code first approach to populate a database with my personal DotA history. Match data is pulled through
        valve's API. Data comes in two parts, a general match response with high level details about the match and a match details
        call that includes specific information on a given match for each player. In this case a match has a connected match details
        list which includes a player and their items linked by a cross table of player-items.</p>
        <!--insert image of api calls-->
        <!--<p>
            The API calls are located in Data project under SteamAPI. I make use of the Rest Sharp package to simpilfy the process. Once the data
            is stored in an API model I then have to format it into a useable data structure. This is all done in the SeedDatabase class which is
            called when you perform an update-database command.
        </p>-->
    </div>


    </body>




