@model KeenanBuff.Models.PlayerOverview


<h2>Details</h2>
<div class="content-inner">
    <div class="row-12 player-summary">
        <div class="col-8">
            <section>
                <article>
                    <div class="r-table heroes-overview">
                        @foreach (var item in Model.HeroOverview)
                        {
                            float wins = item.Wins;
                            float totalGames = item.Games;
                            float winRate = wins * 100 / totalGames;

                            <div class="r-row">
                                <div class="r-fluid r-35 r-icon-text">
                                    <div class="r-label r-always-hidden">
                                        Hero
                                    </div>
                                    <div class="r-body">
                                        <div class="image-container image-container-hero image-container-icon">
                                            <img src="@Url.Content(String.Format("../../assets/{0}.png", item.hero_id))" height="24" width="42">
                                        </div>
                                        <div class="r-none-mobile">
                                            @Html.DisplayFor(modelitem => item.hero_name)
                                            <div class="subtext minor">
                                                <a href="/matches/2493874954">
                                                    <time datetime="2016-07-10T01:33:15+00:00" data-time-ago="2016-07-10T01:33:15+00:00">last match date</time>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- Hero, icon and last match -->
                                <div class="r-fluid r-10 r-line-graph">
                                    <div class="r-label">
                                        Matches
                                    </div>
                                    <div class="r-body">
                                        @Html.DisplayFor(modelItem => item.Games)
                                    </div>
                                </div> <!-- Matches -->
                                <div class="r-fluid r-10 r-line-graph">
                                    <div class="r-label">
                                        Win %
                                    </div>
                                    <div class="r-body">
                                        @winRate %
                                    </div>
                                </div> <!-- Win Rate -->
                                <div class="r-fluid r-10 r-line-graph">
                                    <div class="r-label">
                                        KDA
                                    </div>
                                    <div class="r-body">
                                        -kda-
                                    </div>
                                </div> <!-- KDA -->
                            </div>
                        }
                    </div>
                </article>
            </section>
            <section>
                <header>
                    Latest Matches
                </header>
                @Html.Partial("_Matches")
            </section>
        </div>
    </div>
</div>



