@model KeenanBuff.Models.PlayerOverview




<section>

    <div class="container">
        <h2>@Html.DisplayFor(item => Model.PlayerMatch.FirstOrDefault().Player.steam_name)</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
            <li><a data-toggle="tab" href="#matches">Matches</a></li>
            <li><a data-toggle="tab" href="#heroes">Heroes</a></li>
            <li><a data-toggle="tab" href="#graphs">Graphs</a></li>
        </ul>

        <div class="tab-content">
            <div id="overview" class="tab-pane fade in active">
                @Html.Partial("_Overview")
            </div>
            <div id="matches" class="tab-pane fade">
                <header>
                    Latest Matches
                </header>
                @Html.Partial("_Matches")
            </div>
            <div id="heroes" class="tab-pane fade">
                <h3>Heroes</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="graphs" class="tab-pane fade">
                <header>
                    Latest Matches
                </header>
                @Html.Partial("_Graph")
            </div>
        </div>
    </div>


</section>
 

