@model KeenanBuff.Models.PlayerOverview

@{
    ViewBag.Title = "Index";
}

<h2>Account Overview</h2>


<section>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#heroes">Heroes</a></li>
            <li><a data-toggle="tab" href="#graphs">Win Rate</a></li>
        </ul>

        <div class="tab-content">

            <div id="heroes" class="tab-pane fade in active">
                <header>
                    Most Played Heroes
                </header>
                @Html.Partial("_TopHeroes")
            </div>

            <div id="graphs" class="tab-pane fade">
                <svg width="910" height="500" id="WinRate" style="background:#242f39"></svg>

                <script type="text/javascript" src="~/Scripts/WinRateChart.js"></script>
                <script type="text/javascript">
                    var model = '@Html.Raw(Json.Encode(Model.WinRate))';
                    var data = JSON.parse(model);
                    WinRateChart.init([data, "#WinRate"]);
                    WinRateChart.drawChart();
                </script>
            </div>
        </div>
    </div>
</section>

